@import url('https://fonts.googleapis.com/css?family=Asap|Montserrat|Roboto|Questrial&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@media screen and (max-width: 767px) {
  #project-2, #project-4 {
    flex-direction: column-reverse;
  }
  
  .project-desc {
    margin: 25px 0 !important;
  }
}

a.social-links, a#scroll-prompt, a:link {
  color: white;
  position: relative;
}

#about-container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 150px;
  color: white;
}

.about-col {
  padding: 0 30px !important;
}

#about-container hr {
  display: block;
  color: white;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.about-title, .about-subtitle, .about-text {
  color: #dadde8;
}

#contact-info-section {
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
}

#content {
  width: 100%;
  background-color: #050b2b;
  /* background-image: linear-gradient(to bottom, #050b2b, #24035a, #050b2b ) */
  background-image: linear-gradient(to top, #1f0261 0%, #050b2b 100%);
  overflow: hidden;
}

.content-body {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.desc-title {
  color: #dadde8;
  font-weight: 600;
}

.desc-text {
  font-size: 15px;
  padding-bottom: 10px;
  color: #dadde8;
}

.desc-subtext {
  font-size: 16px;
  font-weight: 600;
}

#icons {
  size: 100px;
  margin-top: 10px;
  color: #e4e6f0;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.intro-title {
  color: #e4e6f0;
  margin: auto;
  z-index: 1;
}

.intro-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#landing-page {
  width: 100vw;
  margin: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: black 0px 0px 20px;
  margin-bottom: 150px;
}

.landing-page-subtext {
  font-size: 16px;
  font-style: italic;
  margin-right: 5px;
}

.landing-page-subtext-container {
  display: inline-flex;
}

#navbar {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
}

#navbar .navlink {
  color: white;
  opacity: 1;
  font-size: 14px;
}

.overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.project-block {
  height: 100%;
  padding-bottom: 150px;
  color: #dadde8;
}

.project-desc {
  margin: 0 25px;
  font-size: 20px;
}

.projects-wrapper {
  margin: auto;
  width: 80%;
}

#project-section-title {
  color: #dadde8;
  text-align: left;
  margin-bottom: 100px !important;
}

.project-section-title-underline hr {
  display: block;
  color: white;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.project-image {
  width: 100%;
  border-radius: 15px;
}

.row {
  margin: 0 !important;
}

.section-title {
  font-size: 44px;
  font-weight: 600;
  color: #dadde8;
}

#scroll-prompt {
  animation: hover 1.5s ease-in-out infinite;
}

#scroll-prompt:hover {
  cursor: pointer;
}

@keyframes hover {
  0% {transform: translateY(-20px);}
  50% {transform: translateY(15px);}
  100% {transform: translateY(-20px);}
}

#scroll-prompt-wrapper {
  text-align: center;
  color: #e4e6f0;
}